<strong>Olá, {{ student }} </strong>
<p>Você tem uma nova resposta a um pedido de auxílio seu, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta:</strong> {{ question }} <br />
  <strong>Resposta:</strong> {{ answer }} <br/>
  <strong>Respondido em:</strong> {{ date }} <br/>
  <br/>
  <small>
    Esperamos ter ajudado. <br />
    Bons treinos!
  </small>
</p>
