<strong>Olá, {{ student }} </strong>
<p>Você tem uma nova matrícula na academia, confira os detalhes abaixo:</p>
<p>
  <strong>Plano:</strong> {{ plan }} <br />
  <strong>Data de término:</strong> {{ date }} <br/>
  <strong>Valor total:</strong> R${{ price }},00 <br/>
  <br/>
  <small>
    Agradecemos pela escolha. <br />
    Bons treinos!
  </small>
</p>
